h1{
    padding: 5%;
    color: white;
    margin: auto;
    text-align: center;
}

td tr{
    margin: auto;
    text-align: center;
    padding: 50px;
}

table {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;

}

.outter-wrapper{
    border-bottom: black solid 1px;
    padding-bottom: 30px;
}

.lowerContainer{
    color:white;
    text-align: center;
}

.buttonDiv{
    width:100%;
    text-align: center;
    margin: auto;
    padding: 50px;
}

#compareSearch {
    background: transparent;
    display: inline-block;
    color: white;
    border: none;
    font-size: 2vh;
    border-bottom: 2px solid #e5bbce;
    text-align: center;
    border-radius: 0;
    margin: 0.8vh auto;
}

#compareSearch:focus {
    color: white;
    background: transparent;
    display: inline-block;
    border-bottom: 2px solid white;
}




