.mainDivStyle {
    position: relative;
    margin: 3vh 2vh;
    display: inline-block;
    border: 0.4vh solid #5f5e6e;
}

.imageStyle {
    position: relative;
}

.blanketStyle {
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.imageOverViewStyle {
    margin: 0.2vh 0.5vh;
    color: white;
    overflow: auto;
    z-index: 1;
    height: 60%;
    width: 95%;
}

.ratingAndReviewStyle {
    position: absolute;
    bottom: 0.4vh;
    left: 0.2vh;
}

.inputDiv {
    text-align: center;
}


.hoverStyle {
    z-index: 1;
    color: white;
    margin: 1vh 0.2vh;
    display: block;
    width: 80%;
    word-wrap: break-word;
}

input[type="text"] {
    background: transparent;
    display: inline-block;
    color: white;
    border: none;
    font-size: 2vh;
    border-bottom: 2px solid #e5bbce;
    text-align: center;
    border-radius: 0;
    margin: 0.8vh auto;
}

input[type="text"]:focus {
    color: white;
    background: transparent;
    display: inline-block;
    border-bottom: 2px solid white;
}

.addToListStyle {
    margin: 0.4vh;
}

/* Trending Page Title */
.trendingTitle {
    color: white;
    margin: 1.2vh 3vh;
    text-align: left;
    border-bottom: 2px solid white;
    display: inline-block;
}