.mainDivStyle {
    position: relative;
    margin: 3vh 2vh;
    display: inline-block;
    border: 0.4vh solid #5f5e6e;
}

.imageStyle {
    position: relative;
}

.blanketStyle {
    background-color: black;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.imageOverViewStyle {
    margin: 0.2vh 0.5vh;
    color: white;
    overflow: auto;
    z-index: 1;
    height: 60%;
    width: 95%;
}

.hoverStyle {
    z-index: 1;
    color: white;
    margin: 1vh 0.2vh;
    display: block;
    width: 80%;
    word-wrap: break-word;
}

input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e5bbce;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    color: white;
    background: transparent;
    -webkit-box-shadow: none;
    border-bottom: 2px solid white;
    box-shadow: none;
}

.addToListStyle {
    margin: 0.4vh;
}